name: Update Recent Activity

on:
  schedule:
    - cron: '*/5 * * * *' # Runs every 5 minutes
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'
    name: 'Update README with recent activity'

    permissions:
      contents: write

    strategy:
      fail-fast: false

    env:
      committer: mitsuki31
      committer-email: 'dhefam31@proton.me'
      max-lines: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACTION_TOKEN }}
        with:
          MAX_LINES: ${{ env.max-lines }}
          COMMIT_NAME: ${{ env.committer }}
          COMMIT_EMAIL: ${{ env.committer-email }}
